:root {
    --font: Menlo;
    --chartreuse: red;
}

body {
    overflow: hidden;
}

.devicon {
    font-size: 4rem;
}

.project-name {
    padding: 1rem;
    background-color: pink;
    text-align: center;
    height: 100%;
}

.hover-bg {
    display: flex;
    flex-direction: column;
    height: auto;
    overflow: hidden;
}

.intro {
    background: url("/img/qr2.svg");
    /* background: url("/https://as1.ftcdn.net/v2/jpg/03/23/09/38/1000_F_323093848_tC9lLtx3ssVYmCRJLFXrt8eIZfraMuK5.jpg"); */
    background-size: 200px; 
    color:  rgb(255, 255, 255);
    border: 60px solid rgb(255, 255, 255);
}

.intro-inner {
    background: url("/assets/barcode.jpg");
    background-size: contain;
    margin: 0 20%;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    opacity: 80%;
}


.intro-name {
    font-family: Menlo;
}

.header {
    background-color: black;
}

.header-btn {
    background: rgb(255, 0, 0);
    background-size: contain;
    color: rgb(255, 255, 255);
    font-family: Menlo;
    font-weight: 600;
    margin: 2rem 2rem 2rem 0;
    border: 2px solid white;
}

.header-btn:hover {
    background-color: rgb(161, 0, 0);
    border: 2px solid white;
}

.name {
    /* font-weight: 100; */
    background-color: rgba(255, 255, 255, 0.863);
    padding: 0 2rem;
    color: red;
    letter-spacing: .01em;
}

.title {
    background-color: rgba(255, 255, 255, 0.876);
    /* text-decoration: underline; */
    padding: .5rem 2rem;
    color: red;
    width: 100%;
}

.header-con {
    /* background-color: rgba(255, 255, 255, 0.219); */
    width: 100%;
}

.img {
    width: 100px;
}

.navbar-custom {
    background-color: rgb(0, 0, 0);
    /* background: url(/assets/barcode.jpg); */
    /* background-size: 20%; */
}


.page-scroll {
    font-family: Menlo;
}


.nav {
    font-weight: 600;
}

.me {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#about {
    background: url("/assets/optical (2).svg") fixed;
    /* background: url("/assets/AdobeStock_342511744_Preview.svg"); */
    
    background-size: 25%;
    /* background-size: cover; */
    background-color: black;
}

.about-con {
    background: rgba(93, 93, 93, 0.897);
    font-family: Menlo;
    color: white;
    /* border-radius: 1.5rem; */
}

.about-me {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

#skills {
    background:rgb(29, 29, 29);
    font-family: Menlo;
}

#skills-hr {
    background-color: red;
    color: red;
}

.portfolio-items {
    /* background-color: green; */
    margin: 2rem 1rem;
}

#contact {
    background-color: rgb(228, 19, 19);
}

#footer {
    background: url("/assets/barcode.jpg");
    background-size: 100px;
    color: black;
}

.contact-title {
    color: white
}

.port-img {
    width: 100%;
}