:root {
    --chartreuse: var(--chartreuse);
}

.devicon {
    font-size: 4rem;
}

.portfolio-items {
    /* background-color: green; */
    margin: 0 1rem;
}

.portfolio-item {
    /* background-color: red; */
    /* width: 100%; */
}

.project-name {
    padding: 1rem;
    background-color: pink;
    text-align: center;
    height: 100%;
}

.hover-bg {
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    /* background-color: yellow; */
    height: auto;
    overflow: hidden;
}