:root {
    --chartreuse: var(--chartreuse);
}

.devicon {
    font-size: 4rem;
}

.portfolio-items {
    background-color: green;
    margin: 0 1rem;
}

.portfolio-item {
    background-color: red;
    /* width: 100%; */
}

.hover-bg .hover-item {
    /* height: auto; */
}

.project-name {
    padding: 1rem;
    background-color: pink;
    text-align: center;
}